@define-color background #121212;
@define-color foreground #d7accd;

* {
  background-color: @background;
  color: @foreground;

  border-radius: 8px;
  font-size: 13px;
}

#workspaces button.empty {
  opacity: 0.2;
}
